/* Forms + Inputs */
button, input, select, textarea{
  font-family:$text-font-body;} // some browsers overwrite custom fonts on inputs
input{
  line-height:normal}
input,
select,
textarea{
  background:#fff;
  border:1px solid rgba(21,36,43,0.3);
  border-radius:2px;
  font-size:1em;
  font-weight:bold;
  margin-bottom:0.3em;
  padding:0.7em 0.6em;
  width:100%;
  max-width:35em;}
input:focus,
select:focus,
textarea:focus{
  border-color:rgba(21,36,43,0.6);}
input::placeholder,
select::placeholder,
textarea::placeholder{
  color:rgba(21,36,43,0.5);}
button[disabled],
input[disabled]{
  cursor:not-allowed;}
input[type="checkbox"],
input[type="radio"]{
  appearance:none;
  background:#fff;
  border:1px solid rgba(21,36,43,.25);
  box-sizing:border-box;
  display:inline-block;
  height:calc(0.4em + 0.7rem);
  margin:0;
  padding:0;
  width:calc(0.4em + 0.7rem);}

input[type="radio"]{
  border-radius:1em;}
input[type="radio"]:focus{
  box-shadow:0 0 0 0.12rem rgba(21,36,43,.4);}
input[type="radio"]:checked{
  box-shadow:0 0 0 calc(0.1em + 0.25rem) #fff inset; // adding a white border along w/ a bg color creates illusion of a dot in the center of the radio input
  background-color:#0f81e8;}
input[type="radio"]:checked:focus{
  box-shadow:
    0 0 0 0.12rem rgba(21,36,43,.25) // external outline to indicate :focus
    0 0 0 calc(0.1em + 0.25rem) #fff inset; // inset shadow to indicate :checked
  }

input[type="checkbox"]:focus{
  box-shadow:0 0 0 0.12rem rgba(21,36,43,.4);}
input[type="checkbox"]:checked{
  background-color:#0f81e8;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNOTkgMjlMODMgMTMgMzkgNTYgMTcgMzQgMSA1MWwzOCAzOCAxNi0xNnoiLz48L3N2Zz4=);
  background-repeat:no-repeat;
  background-position:48% 45%;
  background-size:80% auto;}

select{
  appearance:none;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCA3MCI+PHBhdGggZD0iTTE1IDBMMCAyNmgzMHpNMTUgNzFsMTUtMjZIMHoiLz48L3N2Zz4K');
  background-repeat:no-repeat;
	background-position:right 0.6em center 0;
  background-position:calc(100% - 0.3em - 0.3rem) center;
	background-size:1rem;
	background-size:auto calc(0.6rem + 0.4em);
  cursor:pointer;}
select[multiple]{
  background-image:none;}
option{
  font-size:1rem;
  font-size:calc(0.5em + 0.5rem);
  font-weight:normal;}
fieldset{
  border:0 none;
  margin:0;
  padding:0;}
textarea{
  line-height:1.4;
  overflow:auto;
  vertical-align:top;
  max-width:none;}
label[for]{
  cursor:pointer;}


/* Input wrappers */
.input-radio input{
  margin-right:0.3em;}
.input-radio label{
  cursor:pointer;}

.input-radio,
.input-checkbox{
  align-items:baseline;
  display:flex;}
.input-radio input,
.input-checkbox input{
  flex:0 0 auto;
  margin-right:0.3em;
  position:relative;
  top:0.15em;}

/* Form styles */

/* Change.org-style form */
.form-style-labelabove input,
.form-style-labelabove textarea,
.form-style-labelabove select{
  border:0 none;
  margin:0;}
.js .form-style-labelabove input:focus,
.js .form-style-labelabove textarea:focus,
.js .form-style-labelabove select:focus{
  border:0 none;
  outline:0;}
.js .form-style-labelabove .focus{
  box-shadow:0 0 0.25em 0.2em rgba(70,170,255,0.8);
  z-index:2;}
.form-style-labelabove input[type="text"],
.form-style-labelabove input[type="email"],
.form-style-labelabove input[type="number"],
.form-style-labelabove textarea,
.form-style-labelabove select{
  background-color:transparent;
  padding-top:2em;}
.form-style-labelabove .input-text,
.form-style-labelabove .input-textarea,
.form-style-labelabove .input-number,
.form-style-labelabove .input-multiple,
.form-style-labelabove .input-select,
.form-style-labelabove .input-group{
  border:1px solid rgba(21,36,43,0.3);
  border-radius:4px;
  background:#fff;
  margin-bottom:0.8em;
  position:relative;}
.form-style-labelabove label{
  color:#0f81e8;
  display:block;
  font-size:0.85em;
  font-weight:bold;
  padding:0.5em 0.6em 0;
  text-align:start;}
.form-style-labelabove .input-checkbox label{
  color:inherit;
  display:inline-block;
  margin-left:0.5em;
  padding:0;}
.form-style-labelabove .input-group{
  border:1px solid rgba(21,36,43,0.3);}
.form-style-labelabove .input-group .input-text,
.form-style-labelabove .input-group .input-select,
.form-style-labelabove .input-group .input-number,
.form-style-labelabove .input-group .input-textarea{
  background-color:transparent;
  border-width:1px 0 0;
  border-style:solid none none;
  border-radius:0;
  margin-bottom:0;
  margin-top:0;}
.form-style-labelabove .input-group *:first-child{
  border-radius:4px 4px 0 0;
  border-top:0 none;}
.form-style-labelabove .input-group *:last-child{
  border-radius:0 0 4px 4px;}
.form-style-labelabove .input-select,
.form-style-labelabove .input-textarea,
.form-style-labelabove .input-checkbox,
.form-style-labelabove .input-radio{
  margin:0.9rem 0;}

.form-style-labelabove .ak-input-type-user.input-select select{
  background-position:97% 70%;}

.form-style-labelabove .ak-input-type-user.input-text label,
.form-style-labelabove .ak-input-type-user.input-select label,
.form-style-labelabove .ak-input-type-user.input-textarea label{
  font-size:0.75em;
  letter-spacing:0.05em;
  text-transform:uppercase;}
.form-style-labelabove .input-radio label:first-child,
.form-style-labelabove .input-checkbox label:first-child{
  color:inherit;
  cursor:default;
  display:block;
  font-size:0.85em;
  font-weight:bold;
  margin-bottom:0.5em;
  padding:0;}
.form-style-labelabove .input-radio .ak-userfield-radio-choice,
.form-style-labelabove .input-checkbox .ak-userfield-checkbox-choice{
  color:inherit;
  font-weight:normal;
  padding:0;
  margin-bottom:0.2em;
  padding-left:20px;
  text-indent:-19px;}
.form-style-labelabove .ak-input-type-user.input-text label,
.form-style-labelabove .ak-input-type-user.input-select label,
.form-style-labelabove .ak-input-type-user.input-textarea label{
  position:absolute;
  top:0.2em;
  left:0;}


/* Horizontal form - stack on small screens, line up on larger*/
.form-layout-horizontal .input-text,
.form-layout-horizontal .input-select,
.form-layout-horizontal .input-group,
.form-layout-horizontal .input-submit{
  width:100%;}

.form-layout-horizontal input,
.form-layout-horizontal input[type="text"],
.form-layout-horizontal input[type="email"],
.form-layout-horizontal input[type="number"],
.form-layout-horizontal textarea,
.form-layout-horizontal select{
  align-self:stretch;
  padding-top:0.7em;}

.form-layout-horizontal .input-text label,
.form-layout-horizontal .input-select label{
  margin:0;
  position:static;}

/* Desktop and larger */
@media only screen and (min-width:$tablet-desktop-breakpoint){

  .form-layout-horizontal{
    align-items:stretch;
    display:inline-flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:1.3em 0;}
  .form-layout-horizontal::before{ // force line break between main row and secondary
    background-color:transparent;
    content:'';
    height:1px;
    order:7;
    width:100%;}

  .form-layout-horizontal:first-child{
    margin-top:0;}
  .form-layout-horizontal:last-child{
    margin-bottom:0;}
  .form-layout-horizontal input,
  .form-layout-horizontal select,
  .form-layout-horizontal .input,
  .form-layout-horizontal .select,
  .form-layout-horizontal .submit{
    max-width:12em;}
  .form-layout-horizontal .input-text,
  .form-layout-horizontal .input-select,
  .form-layout-horizontal .input-submit,
  .form-layout-horizontal .input-group{
    align-items:center;
    border-radius:0;
    display:flex;
    min-height:100%; // not sure why this is necessary when the parent is set to align-items:stretch, but wtvs
    margin-bottom:0;
    margin-top:0;
    order:3;
    width:auto;}

  .form-layout-horizontal .input-text,
  .form-layout-horizontal .input-select{
    min-width:12em;}
  .form-layout-horizontal .input-group{
    border-radius:0;}

  .form-layout-horizontal .input-text label,
  .form-layout-horizontal .input-select label{
      padding:0 0 0 .6em;}
  .form-layout-horizontal > *:first-child{
    border-radius:4px 0 0 4px;}
  .form-layout-horizontal > *:last-child{
    border-radius:0 4px 4px 0;}
  .form-layout-horizontal .input-group .input-text + .input-text{
    border-left:1px solid rgba(21,36,43,0.3);
    border-top:0 none;}
  .form-layout-horizontal .input-submit{
    order:6;}
  .form-layout-horizontal .input-submit button,
  .form-layout-horizontal button[type="submit"],
  .form-layout-horizontal button.submit{
    border-radius:0 4px 4px 0;}
  .form-layout-horizontal .input-radio,
  .form-layout-horizontal .input-checkbox,
  .form-layout-horizontal .input-textarea{
    flex:0 0 auto;
    justify-content:inherit; // match the alignment of the parent;
    order:10;
    width:auto;}

  .form-layout-horizontal .ak-postform-text{
    margin-top:1.2rem;
    width:100%;}

}
