/*
  CSS to support the "shy" sticky behavior via headroom.js
*/

.headroom{
  box-shadow:0 0 0.5rem rgba(0,0,0,0);
  top:0;
  transition:
    transform 100ms ease-in-out,
    box-shadow 500ms;}
.headroom--pinned{
  position:sticky;}
.headroom--pinned.headroom--not-top{
  box-shadow:0 0 0.5rem rgba(0,0,0,0.3);
  transform:translateY(0%);}
.headroom--unpinned{
  transform:translateY(-100%);}
