/*
  CSS to support the "shy" sticky behavior via headroom.js
*/

.headroom {
  position:sticky;
  top:0;
  transition:transform 100ms ease-in-out;
  will-change:transform;}
.headroom--pinned {
  box-shadow:0 0 0.5rem rgba(0,0,0,0.4);
  transform:translateY(0%);}
.headroom--unpinned {
  transform:translateY(-100%);}
