@charset "utf-8";
/* CSS Document */
@font-face {
  font-family:'KlimaWeb';
	font-style:normal;
	font-variant:normal;
	font-weight:700;
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-heavy-web.eot');
    src:url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-heavy-web.eot?#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-heavy-web.svg#klimaheavy') format('svg'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-heavy-web.woff2') format('woff2'),
		url('https://s3.amazonaws.com/s3.350.org/fonts/klima/klima-heavy-web.ttf') format('truetype');}
