/* CSS for Baseline "Side Share buttons" plugin */


/* Side share buttons */
#side-share{
  order:8;}
.buttons-share-side .button-square{
  float:right;
  clear:both;}
.buttons-share-side .button-square:hover{
  width:60px;}



/* Mobile Only */
@media only screen and (max-width:$mobile-tablet-breakpoint){
  #side-share{
    display:none;}
}


/* Tablet and up */
@media only screen and (min-width:$mobile-tablet-breakpoint){
  .buttons-share-side{
    margin-top:-75px;
    position:fixed;
    right:0;
    top:50%;
    transition:all 1s; //smooth the awkward resizing when a mobile browser address bar hides
    z-index:999;}
  .buttons-share-side-left{
    right:auto;
    left:0;}
}
