/* Footer */
#site-footer a{
  text-decoration:none;}
#site-footer .sub-menu a{
  display:inline-block;
  font-size:0.9em;
  font-weight:500;}
#site-footer .widgettitle{
  border-bottom:1px dotted rgba(255,255,255,0.5);
  margin-bottom:1.5rem;
  padding-bottom:0.5rem;}
