/*
  Site Header
  - Site header container
  - Logo/site title
  - Site Nav controls
  - Custom header buttons (from site option)
  - Header layouts (compact and left-aligned is default)
*/


/* ----- Site header container + general----- */
#site-header{
  order:0;
  overflow:visible; // fixes invisible #nav-toggle
  z-index:1000;}
.bg-on #site-header.bg-transparent{
  background-image:linear-gradient(to bottom,rgba(23,41,46,0.7) 0,rgba(23,41,46,0) 100%);}
#site-header-inner{
  align-items:stretch;
  background-color:inherit; // pass bg color down to children
  display:flex;
  flex-wrap:nowrap;
  padding:0;}
.site-header-item{
  align-items:center;
  display:flex;
  flex:0 1 auto;
  height:auto;
  min-height:2.7rem;
  margin:0 0.5rem;
  order:10;}
.site-header-divider{
  font-size:0;
  margin-left:auto;
  order:20;
  width:0;}


/* ----- Logo/site title ----- */
#site-title{
  flex:1 1 auto;
  font-size:1.1rem;
  order:1;
  padding:0.55rem 0;
  margin-bottom:0;}
#site-title-link.logo-image{
  color:inherit;
  display:inline-block;
  line-height:1;
  margin:0;
  padding:0;}
#site-title-link.logo-image img{
  margin:0.3rem;}
.bg-white #site-title-link.logo,
.bg-white #site-title-link.logo:hover{
  color:inherit;}
#site-title-link.logo-image img{
  display:block;
  max-height:5rem;
  max-width:10rem;}



/* ----- Site Nav Controls ----- */

/* CSS-only hamburger menu w/ borders */
#site-nav-toggle{
  cursor:pointer;
  font-size:1.3em;
  line-height:1.6;
  margin-bottom:0;
  margin-top:0;
  order:5;
  padding:0 0 0 1.3rem;
  position:relative;
  min-width:1.3em;
  text-decoration:none;
  width:auto;
  z-index:1000;}
#site-nav-toggle::before{
  border-top:0.15em solid;
  content:' ';
  position:absolute;
  margin-top:-0.075rem;
  top:50%;
  left:0;
  width:1.4rem;}
#site-nav-toggle::after{
  border-color:inherit;
  border-width:0.15rem 0;
  border-style: solid;
  content:' ';
  height:0.9rem;;
  left:0;
  position:absolute;
  transform:translateZ(1px);
  width:1.4rem;}
#site-nav-toggle-text{
  display:none;
  font-size:0.9rem;
  letter-spacing:1px;
  line-height:2.3;
  margin-left:0.3rem;
  text-transform:uppercase;
  transform:translateZ(1px);}
/* Tablet and up */
@media only screen and (min-width:$mobile-tablet-breakpoint){
  #site-nav-toggle-text{
    display:inline-block;}
}
@media only screen and (min-width:$tablet-desktop-breakpoint){
  #site-nav-toggle.nav-desktop-dropdown,
  #site-nav-toggle.nav-desktop-list{
    display:none;}
}
@media only screen and (pointer:fine){
  #site-nav-toggle{
    font-size:1rem;}
  #site-nav-toggle::before {
    width:1.25rem;}
  #site-nav-toggle::after{
    height:0.6rem;
    width:1.25rem;}
}

/*
  Hide site nav on mobile, to be revealed by 'burger menu
  Show when menu is set to 'dropdown' on a larger screen
*/
#site-nav{
  display:none;
  order:5;}
@media only screen and (min-width:$tablet-desktop-breakpoint){
  #site-nav.nav-desktop-dropdown{
    display:flex;}
}


/* ----- Custom header buttons ----- */
#header-buttons-container{
  display:none;
  flex:0 0 auto;
  order:9;}
@media only screen and (min-width:$mobile-tablet-breakpoint){
  #header-buttons-container{
    display:flex;}
}


/* ----- Site header layouts ----- */

/* Compact + Left-aligned */
.site-header-layout-compact #site-header-inner{
  padding:0 0.5vw;;}
.site-header-layout-compact.text-left .site-header-divider{
  display:block;
  order:4;}
@media only screen and (min-width:$tablet-desktop-breakpoint){
  .site-header-layout-compact.text-left #site-title{
    white-space:nowrap;} //make sure other header junk doesn't force the site title to wrap

  .site-header-layout-compact #site-nav.nav-desktop-dropdown,
  .site-header-layout-compact #site-nav.nav-desktop-dropdown .section-inner,
  .site-header-layout-compact #site-nav.nav-desktop-dropdown .menu,
  .site-header-layout-compact #site-nav.nav-desktop-dropdown .menu > li{
    background-color:inherit;} /* if dropdown is inside header bar, inherit the header bg + pass it down to children */
  .site-header-layout-compact #site-nav.nav-desktop-dropdown,
  .site-header-layout-compact #site-nav.nav-desktop-dropdown a{
    color:currentColor;} /* if dropdown is inside header bar, inherit the header text color + pass it down to children */

}


/* Compact + Center-aligned */
.site-header-layout-compact.text-center #site-title{
  align-items:flex-start;
  flex:0 0 100%;
  min-height:0;
  height:0; // zero the height so it doesn't cover up other header elements, let the title/link logo overflow out
  left:0;
  margin:0;
  padding:0;
  order:1;
  overflow:visible;
  position:absolute; // abs. pos. the title so it stays centered no matter what else is in the header
  text-align:center;
  top:0;
  width:100%;}
.site-header-layout-compact.text-center #site-title-link{
  align-items:center;
  display:flex;
  min-height:2.7rem;
  margin:0 auto;
  max-width:calc(100vw - 30vw);} // leave space on the left and right for header buttons, etc.}
.site-header-layout-compact.text-center #site-nav{
  display:none;}
.site-header-layout-compact.text-center #site-nav-toggle{
  order:2;}
.site-header-layout-compact.text-center .site-header-divider{
  order:5;}
.site-header-layout-compact.text-center #header-buttons-container{
  order:8;}





/* Stacked, both Center + Left-aligned */
.site-header-layout-stacked #site-nav{
  margin:0;
  padding-left:1.4vw;
  order:15;
  width:100%;}
@media only screen and (min-width:$tablet-desktop-breakpoint){
  .site-header-layout-stacked #site-header-inner{
    flex-wrap:wrap;}

}

/* Stacked, Left-aligned
.site-header-layout-stacked.text-left #site-title{
  margin-left:2.5vw;}*/



/* Stacked + Center-aligned */
.site-header-layout-stacked.text-center #site-title{
  align-items:center;
  display:flex;
  height:0;
  justify-content:center;
  left:0;
  margin:0;
  position:absolute;
  top:0;
  width:100%;
}
.site-header-layout-stacked.text-center .site-header-divider{
  display:block;
  order:7;}
@media only screen and (min-width:$mobile-tablet-breakpoint){
  .site-header-layout-stacked.text-center #header-buttons-container{
    display:flex;}
}
@media only screen and (min-width:$tablet-desktop-breakpoint){
  .site-header-layout-stacked.text-center #site-nav.nav-desktop-dropdown{
    justify-content:center;}
}
