/*
  Basics
  styles, resets, and standardization for common HTML elements,

*/

*{
  box-sizing:border-box}
::selection{
  background:rgba(4, 160, 195, 0.3);}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary{
  display:block}
audio, canvas, video{
  display:inline-block;
 *display:inline;
 *zoom:1}
html{
  background-color:#DAE6F2;
  color:#17292e;
  font-family:$text-font-body;
  font-size:16px;
  line-height:1.6;}
@media only screen and (min-width:$mobile-tablet-breakpoint){
  html{
    font-size:17px;}
}
@media only screen and (min-width:$tablet-desktop-breakpoint){
  html{
    font-size:17px;}
}
@media only screen and (min-width:$desktop-bigscreen-breakpoint){
  html{
    font-size:19px;}
}
@supports ( font-size:calc(1vmax + 1px) ){
  html{
    // font-size:calc(.25vmax + 14.2px); IE doesn't support 1vmax
    font-size:calc(.25 * (1vw + 1vh - 1vmin) + 15.5px);}
  @media only screen and (min-width:$desktop-bigscreen-breakpoint){
    html{
      //font-size:calc(.25 * (1vw + 1vh -1vmin) + 15px)
      font-size:calc(.35 * (1vw + 1vh - 1vmin) + 14px)}
  }
}

body{
  margin:0;}
/* Headings */
h1,
h2,
h3,
h4,
h5{
  font-weight:bold;
  letter-spacing:calc(0.5px - 0.03em);
  line-height:$default-lineheight-calc;
  margin:0 0 1rem;
  text-rendering:geometricPrecision;}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child{
  margin-bottom:0;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a{
  color:inherit;
  text-decoration: none;}
h1{
  font-size:calc(0.8vw + 1.5rem);}
h2{
  font-size:calc(0.68vw + 1.4rem);}
h3{
  font-size:calc(0.35vw + 1.3rem);}
h4{
  font-size:calc(0.25vw + 1.25rem);}
h5{
  font-size:calc(0.15vw + 1.1rem);}
h1:last-child,
h2:last-child,
h3:last-child{
  margin-bottom:0;}

/* Links */
a{
  color:#0f81e8;
  cursor:pointer;
  font-weight:bold;}
a img{
  border:none;}
a.active{
  color:inherit !important;
  cursor:default;
  opacity:1 !important;}

/* Paragraphs */
p{
  line-height:$default-lineheight-calc;
  margin:0 0 1.2em;}
p:last-child, ul:last-child, ol:last-child{
  margin-bottom:0;}

/* Media */
img{
  height:auto;
  max-width:auto;}
img, iframe, video{
  border:0 none;
  max-width:100%;}

/* Lists */
ul, ol{
  line-height:$default-lineheight-calc;
  margin:0 0 1.2em;
  padding-left:1em;}
ol{
  counter-reset:li;
  padding-left:calc(0.2rem + 0.9em);}
li{
  margin:0 0 0.4em;
  text-align:start;} // make sure text is always aligned with bullet point/counter
ol li{
  list-style:outside none none;
  margin:0 0.5em 0.5em;
  margin:0 0 calc(0.5rem + 0.1em) calc(0.5rem + 0.1em);
  position:relative;}
ol li:before{
  background-color:rgba(21,36,43,0.1);
  border-radius:1.7em;
  box-sizing: border-box;
  color:inherit;
  content: counter(li, decimal);
  counter-increment:li;
  font-family:$text-font-secondary;
  font-size:0.6em;
  font-size: calc(0.3rem + 0.4em);
  font-weight:bold;
  height:1.7em;
  left:-2.7em;
  line-height:1.8;
  margin-right:0.5em;
  position: absolute;
  text-align: center;
  top: 0.04em;
  top: calc(4px - 0.05em);
  width:1.7em;}
ul li,
ol ul li{
  list-style-type:disc;
  list-style-position:outside;
  margin:0 0 0.3em;}
ul ul li{
  list-style-type:circle;}
ul li:before,
ol ul li:before,
ol ol li:before{
  content:'';
  display:none;}
ol ol li{
  list-style-type:decimal;
  margin:0;}
ul ul,
ul ul:last-child,
ol ol,
ol ol:last-child,
ul ol,
ul ol:last-child,
ol ul,
ol ul:last-child{
  margin:0.25em 0 0.5em;
  padding-left:1.5em;}
ul ul ul, ol ol ol{
  margin:0.3em;
  padding-left:2em;}

/* Tables */
table{
  border-collapse:separate;
  border-spacing:2px;
  width:100%;}
th{
  font-weight:bold;
  /* some browsers center-align <th> by default *shrug* */
  text-align:left;}
tr{
  background:rgba(255,255,255,0.1);}
tr:nth-child(2n){
  background:rgba(21,36,43,0.1);}
thead tr{
  background:transparent;}
td, th{
  padding:0.9em 1em;}


/* Other text elements */
blockquote{
  background:rgba(21,36,43,0.04);
  font-size:1.2em;
  line-height:$default-lineheight-calc;
  margin:1.5em 0;
  padding:1.3em;}
q{
  font-style:italic;}
sup{
  font-size:.75em;
  vertical-align:top;}
sub{
  font-size:.75em;
  vertical-align:bottom;}
caption{
  font-size:.85em;
  color:#888;}
em{
  font-style:italic;}
strong{
  font-weight:bold;}
code,
samp,
kbd,
var{
  font-family:$text-font-secondary;
  font-size:0.9em;}
pre{
  font-family:$text-font-secondary;
  margin:0;
  white-space:pre-line;}
del{
  text-decoration:line-through;}
abbr,
acronym{
  font-size:0.9em;
  font-variant:small-caps;
  letter-spacing:0.04em;
  border-bottom:1px dotted #9a9e9f;
  cursor:help;
  padding-bottom:1px;
  text-decoration:none;}
dfn{
  border-bottom:1px dotted #9a9e9f;
  cursor:help;
  font-style:normal;
  padding-bottom:1px;}
b,
strong{
  font-weight:bold;}
small{
  font-size:0.85em;}
dd{
  margin:0}
