/* support for pre-flex, pre-grid columns that use floats and built-in margin */

@media screen and ( max-width:$mobile-tablet-breakpoint ){
.c1,
.c2,
.c2_5,
.c3,
.c3_3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10{
  margin-bottom:2rem;}

  .cm2_5,
  .cm3_3,
  .cm5,
  .cm6_6,
  .cm7_5,
  .cm10{
    display:inline;
    float:left;
    margin-left:1%;
    margin-right:1%;}
  .cm2_5.right,
  .cm3_3.right,
  .cm5.right,
  .cm6_6.right,
  .cm7_5.right,
  .cm10.right{
    float:right;}

  .cm2_5{
    width:23%;}
  .cm3_3{
    width:31.333%;}
  .cm5{
    width:48%;}
  .cm6_6{
    width:64.666%;}
  .cm7_5{
    width:73%;}
  .cm10{
    width:98%;}

  .c1:last-child,
  .c2:last-child,
  .c2_5:last-child,
  .c3:last-child,
  .c3_3:last-child,
  .c4:last-child,
  .c5:last-child,
  .c6:last-child,
  .c7:last-child,
  .c8:last-child,
  .c9:last-child,
  .c10:last-child{
    margin-bottom:0;}

/* for grids of equal columns, automatically clear floats on the new line */
  .cm2_5 + .cm2_5 + .cm2_5 + .cm2_5 + .cm2_5:nth-of-type(4n+5),
  .cm3_3 + .cm3_3 + .cm3_3 + .cm3_3:nth-of-type(3n+4),
  .cm5 + .cm5 + .cm5:nth-of-type(2n+3){
    clear:left;}


}

@media screen and (min-width:$mobile-tablet-breakpoint) and (max-width:$tablet-desktop-breakpoint){
  .ct2_5,
  .ct3,
  .ct3_3,
  .ct4,
  .ct5,
  .ct6,
  .ct6_6,
  .ct7,
  .ct7_5,
  .ct10{
    display:inline;
    float:left;
    position:relative;
    margin-left:2%;
    margin-right:2%;}
  .ct2_5{
    width:21%;}
  .ct3{
    width:26%;}
  .ct3_3{
    width:29.333%;}
  .ct4{
    width:36%;}
  .ct5{
    width:46%;}
  .ct6{
    width:56%;}
  .ct6_6{
    width:62.666%;}
  .ct7{
    width:66%;}
  .ct7_5{
    width:71%;}
  .ct10{
    width:96%;}

  .ct2_5.no-margin{
    width:25%;}
  .ct3_3.no-margin{
    width:33.333%;}
  .ct4.no-margin{
    width:40%;}
  .ct5.no-margin{
    width:50%;}
  .ct6.no-margin{
    width:60%;}
  .ct6_6.no-margin{
    width:66.666%;}
  .ct7_5.no-margin{
    width:75%;}
  .ct10.no-margin{
    width:100%;}

  /* for grids of equal columns, automatically clear floats on the new line */
  .ct2_5 + .ct2_5 + .ct2_5 + .ct2_5 + .ct2_5:nth-of-type(4n+5),
  .ct3_3 + .ct3_3 + .ct3_3 + .ct3_3:nth-of-type(3n+4),
  .ct5 + .ct5 + .ct5:nth-of-type(2n+3){
    clear:left;}

  .c-wide{
    padding-left:0.5rem;
    padding-right:0.5rem;}

}

/* Desktop and larger */
@media only screen and (min-width:$tablet-desktop-breakpoint){

/* Utility classes - desktop*/
.c1,
.c2,
.c2_5,
.c3,
.c3_3,
.c4,
.c5,
.c6,
.c6_6,
.c7,
.c7_5,
.c8,
.c9,
.c10{
  display:inline;
  float:left;
  position:relative;
  margin-left:1%;
  margin-right:1%;}
.c1{
  width:7.9%;}
.c2{
  width:17.9%;}
.c2_5{
  width:23%;}
.c3{
  width:27.9%;}
.c3_3{
  width:31.3%;}
.c4{
  width:37.9%;}
.c5{
  width:47.9%;}
.c6{
  width:57.9%;}
.c6_6{
  width:64.6%;}
.c7{
  width:67.9%;}
.c7_5{
  width:72.9%;}
.c8{
  width:77.9%;}
.c9{
  width:87.9%;}
.c10{
  width:97.9%;}

.c1.sm-margin,
.c2.sm-margin,
.c2_5.sm-margin,
.c3.sm-margin,
.c3_3.sm-margin,
.c4.sm-margin,
.c5.sm-margin,
.c6.sm-margin,
.c6_6.sm-margin,
.c7.sm-margin,
.c8.sm-margin,
.c9.sm-margin,
.c10.sm-margin{
  margin:0.5%;}
.c1.sm-margin{
  width:8.9%;}
.c2.sm-margin{
  width:18.9%;}
.c2_5.sm-margin{
  width:24%;}
.c3.sm-margin{
  width:28.9%;}
.c3_3.sm-margin{
  width:32.333%;}
.c4.sm-margin{
  width:38.9%;}
.c5.sm-margin{
  width:48.9%;}
.c6.sm-margin{
  width:58.9%;}
.c6_6.sm-margin{
  width:65.666%;}
.c7.sm-margin{
  width:68.9%;}
.c7_5.sm-margin{
  width:73.9%;}
.c8.sm-margin{
  width:78.9%;}
.c9.sm-margin{
  width:88.9%;}
.c10.sm-margin{
  width:98.9%;}


.c1.no-margin{
  width:10%;}
.c2.no-margin{
  width:20%;}
.c2_5.no-margin{
  width:25%;}
.c3.no-margin{
  width:30%;}
.c3_3.no-margin{
  width:33.333%;}
.c4.no-margin{
  width:40%;}
.c5.no-margin{
  width:50%;}
.c6.no-margin{
  width:60%;}
.c6_6.no-margin{
  width:66.666%;}
.c7.no-margin{
  width:70%;}
.c7_5.no-margin{
  width:75%;}
.c8.no-margin{
  width:80%;}
.c9.no-margin{
  width:90%;}
.c10.no-margin{
  width:100%;}

/* for grids of equal columns, automatically clear floats on the new line */
/* start with the second row (5n+6 instead of 5n+1) */
  .c2 + .c2 + .c2 + .c2 + .c2 + .c2:nth-of-type(5n+6),
  .c2_5 + .c2_5 + .c2_5 + .c2_5 + .c2_5:nth-of-type(4n+5),
  .c3_3 + .c3_3 + .c3_3 + .c3_3:nth-of-type(3n+4),
  .c5 + .c5 + .c5:nth-of-type(2n+3){
    clear:left;}

.left1{
  margin-left:11.0%;}
.left2{
  margin-left:21.0%;}
.left3{
  margin-left:31.0%;}
.left4{
  margin-left:41.0%;}
.left5{
  margin-left:51.0%;}

.left-1{
  margin-left:-9%;}
.left-2{
  margin-left:-19%;}
.left-3{
  margin-left:-29%;}
.left-4{
  margin-left:-39%;}
.left-5{
  margin-left:-49%;}

.right{
	float:right;}
.right-1{
  right:-9%;
  position:absolute;}
.right-2{
  right:-19%;
  position:absolute;}
.right-3{
  right:-29%;
  position:absolute;}
.right-4{
  right:-39%;
  position:absolute;}
.right-5{
  right:-49%;
  position:absolute;}

}
